@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@500&family=IBM+Plex+Sans:wght@500&display=swap');



html {
  font-size: 16px;
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
  
}

body {
  /* line-height: 4; */
  color: #898fa1;
  font-size: 15px;
  font-family: IBM;
  position: relative;

}



h1,h2,h3,h4,h5,h6 {
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #11245a;
}



a {
  font-weight: 700;
  transition: all 0.4s ease;
}

img {
  width: 100%;
}

small {
  font-size: 10px;
  letter-spacing: 2px;
  font-weight: 700;
}

section {
  padding-top: 100px;
  padding-bottom: 100px ;
}


.dropdown-menu .dropdown-item {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



/* topbar */
header a {
  color: white;
}


.top-bar span {
  font-size: 25px;
  padding: 1px 5px;
}



/*  navbar */
.nav-link {
  color: azure !important;
}



.navbar {
  border-bottom: 2px solid rgba(0, 0, 0, .1);
  line-height: 4;
}

.navbar .nav-link {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}



.navbar-dark .navbar-nav .nav-link.active {
  color: #ff9d2d;
}

.nav-link:hover {
  color: #ff9d2d !important;
}

/* topbar hover color */
a:hover {
  color: #ff9d2d !important;

}


/* toggler-icon animation */
/* .navbar-toggler
.toggler-icon .top-bar:hover
.toggler-icon .middle-bar:hover
.toggler-icon .bottom-bar:hover {
  color: #ff9d2d !important;
} */



.navbar-toggler {
  width: 30px;
  height: 20px;
  position: relative;
  transition: .5s ease-in-out;
  
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
}

.navbar-toggler span {
  margin: 0;
  padding: 0;
}

.toggler-icon {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #ff9d2d;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.middle-bar {
  margin-top: 0px;
}

/* when navigation is clicked "X" */

.navbar-toggler .top-bar {
  margin: 0px;
  transform: rotate(135deg);
}

.navbar-toggler .middle-bar{
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar{
  margin-top: 0px;
  transform: rotate(-135deg);
}

/* state when the navbar is collapsed */

.navbar-toggler.collapsed .top-bar {
  margin-top: -20px;
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  margin-top: 20px;
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .toggler-icon {
  background-color: white;
}


/* dropdown-menu */
.dropdown-menu {
  max-height: 200px;
  overflow-y: scroll;
}


/* #home {
  background-color: rgba(189, 195, 199, .4);
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
} */


/* carousel image --> "c-item/c-img */
 .c-item {
  height: 600px;
  background-color: rgba(189, 195, 199, .4);

}

 .c-img {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.9);
}


/* 
#home h1 {
  font-weight: 700;
}

#home {
  max-width: 600px;
  margin: auto;
} */

.section-intro .hline {
  width: 150px;
  height: 3px;
  background-color: #c78f4f;
  margin: 16px auto 0 auto;
}

.section-intro {
  text-align: center;
  margin-bottom: 60px;
}

.section-intro span {
  color: #eb7d00;
}

/* simu-mat */



/* Team Area */

/* .btn:focus {
  outline: none !important;
  box-shadow: none !important ;
}

.btn-primary {
  background-color: #fff !important;
  border-color: #000;
}

.btn-primary:hover {
  background-color: #eb7d00 !important;
}




.team-area {
  padding-top: 5%;
}

.single-team {
  background-color: #000;
  margin-bottom: 10px;
}

.single-team:hover .social {
  cursor: pointer;
  opacity: 1;
  transform: rotateY(0deg) scale(1, 1);
}

.img-area {
  overflow:hidden;
  position: relative;
}

.img-area img {
  width: 100%;
}

.img-area:hover img {
  transform: scale(1.2);
}

.img-area img {
  transition: all 0.4s ease 0s;
} */

/* vertical arrangement of images */
/* @media (max-width: 768px) {
  .img-area img {
    display: inline-block;
  }
}

.img-area .social {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  text-align: center;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  opacity: 0;
  transition: .5s;
  transform: rotateY(180deg) scale(0.5, 0.5);
}

.img-area .social ul {
  text-align: center;
  position: relative;
  top: 175px;
}

.img-area .social ul li a {
  border: 1px solid #fff;
  color: #fff;
  display: block;
  font-size: 20px;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
}

.img-area .social ul li a:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid transparent;
}
.img-text {
  padding: 25px;
  color: #fff;
  text-align: center;
} */

/* TEAM AREA */




.filters {
	margin: 0 0 30px 0;
}
.filters .nav-pills > li {
	margin-right: 2px;
	margin-bottom: 2px;
}
.filters .nav-pills > li + li {
	margin-left: 0px;
}
.text-center.filters .nav-pills > li {
	margin-right: 2px;
	margin-left: 2px;
	margin-bottom: 2px;
	display: inline-block;
	float: none;
}



/* Projects section */
#projects{ 
  color: #000;
}



.projects {
  padding-top: 50px;
  padding-bottom: 50px;
}

.bg-color {
  background-color:#f6f7f9;
}

.projects-box {
  padding: 20px;
  background-color: #d5d5d5;
  transition: .4s;
  transform: translateY(0);
}

