

  /* scroll bar customize */

 ::-webkit-scrollbar {
      width: 1em;
  }

  ::-webkit-scrollbar-track {
    background: hsl(120, 1%, 36%);

}

::-webkit-scrollbar-thumb {
  background: hsl(0, 1%, 14%);
  border-radius: 100vw;
  border: .25 solid  hsl(120, 2%, 19%);
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(120, 2%, 8%);
}

@media
(prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-padding, 100px);
  /* scroll-padding-top: 2rem; */
  background-color: #fff;
  /* height: -webkit-fill-available; */
}

body {
  line-height: 4;
  color: #898fa1;
  font-size: 15px;
  font-family: 'Inter', sans-serif;
  /* font-weight: 200; */
  position: relative;
  /* height: 90px; */
  /* height: 100vh; */
  /* height:-webkit-fill-available; */


}





h1,h2,h3,h4,h5,h6 {
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #11245a;
}



a {
  font-weight: 700;
  transition: all 0.4s ease;
}

img {
  width: 100%;
}

small {
  font-size: 10px;
  letter-spacing: 2px;
  font-weight: 700;
}

section {
  padding-top: 100px;
  padding-bottom: 100px ;
}

.scroll-top {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 15px;
  bottom: -15px;
  visibility: hidden;
  opacity: 0;
  width: 44px;
  height: 44px;
  background: #009bd9;
  border-radius: 4px;
  transition: .3s;
  z-index: 11
}

.scroll-top:hover {
  background: #03b7ff;
  box-shadow: 0 6px 15px 0 rgba(0,155,217,.3)
}

.scroll-top .icon {
  color: #fff;
  width: 20px;
  height: 20px
}

.scroll-top.active {
  visibility: visible;
  opacity: 1;
  transition: .3s;
  bottom: 15px
}

/* sections css */

.section-intro .hline {
  width: 150px;
  height: 3px;
  background-color: #c78f4f;
  margin: 16px auto 0 auto;
}

.section-intro {
  text-align: center;
  margin-bottom: 60px;
}

.section-intro span {
  color: #eb7d00;
}


/* dropdown menu js when hovering "more" */

@media screen and (min-width:992px) {

  .dropdown:hover .dropdown-menu {
    display: block;
  }
  .dropdown-menu.show {
    display: block;
  }
}


/*  */


/* @media screen and (max-width:993px) {
  .dropdown-menu {
   max-height: 60vh;
   overflow-y: scroll;
  }


} */

/* body  */
/* @media (max-width: 768px) {
  section {
    height: 100vh;
  }
} */



.dropdown-menu .dropdown-item {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 18px;
}



/* topbar */
#home a {
  color: white;
}


.top-bar span {
  font-size: 25px;
  padding: 1px 8px;
}



/*  navbar */
.nav-link {
  color: azure !important;
  /* font-family: "Inter", "Sans Serif";
  font-weight: 200; */
}



#home .top-bar {
  border-bottom: 1px solid #222222;

}

#header {
  /* padding: 20px 0px; */
  height: 90px;
}



nav.navbar {
  border-bottom: 2px solid rgba(0, 0, 0, .1);
  /* padding-top: 100px; */
  /* line-height: 3.9; */
  /* position: sticky; */
}

.navbar .nav-link {
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
}



.navbar-dark .navbar-nav .nav-link.active {
  color: #ff9d2d;
}

.nav-link:hover {
  color: #ff9d2d !important;
}

/* topbar hover color */
a:hover {
  color: #ff9d2d !important;

}


.navbar-toggler {
  width: 30px;
  height: 20px;
  position: relative;
  transition: .5s ease-in-out;

}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
  border: 0;
}

.navbar-toggler span {
  margin: 0;
  padding: 0;
}

.toggler-icon {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #ff9d2d;
  border-radius: 1px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.middle-bar {
  margin-top: 0px;
}


/* media querry */
@media only screen and (max-width: 1140px) {
  .navbar-brand {
    margin-left: 10px;
  }

}

@media (max-width:768px) {

}

/* when navigation is clicked "X" */

.navbar-toggler .top-bar {
  margin: 0px;
  transform: rotate(135deg);
}

.navbar-toggler .middle-bar{
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar{
  margin-top: 0px;
  transform: rotate(-135deg);
}

/* state when the navbar is collapsed */

.navbar-toggler.collapsed .top-bar {
  margin-top: -20px;
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  margin-top: 20px;
  transform: rotate(0deg);
}

.navbar-toggler.collapsed .toggler-icon {
  background-color: white;
}


/* mobile */
@media (max-width: 768px) {
  #mobile-nav-toggle {
    display: inline;
  }
}


/*  AD-mtrl about us */
#about {
  line-height: 3;
  color: #0e0d0d;
}


.hovereffect {
  width:100%;
  height:100%;
  float:left;
  overflow:hidden;
  position:relative;
  text-align:center;
  cursor:default;
  }


  .hovereffect img {
  display:block;
  position:relative;
  -webkit-transition:all .3s;
  transition:all .3s;
  }


  .hovereffect:hover img {
  -ms-transform:scale(1.2);
  -webkit-transform:scale(1.2);
  transform:scale(1.2);
  }

  @media (max-width: 768px) {
    #about {
      font-size: 30px;
    }
    #about h1 {
      font-size: 32px;
    }
    #about .about-text {
      font-size: 20px;
    }
  }







/* carousel image --> "c-item/c-img */

#carousel-Interval {
  background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
}

 .c-item {
  height: 500px;
}

 .c-img {
  height: 100%;
  object-fit: cover;
  filter: brightness(0.9);
}


.carousel-inner h5{
  font-size: 2.5rem;
  color: #eb7d00;
}


/* About simu-mat */

.text p {
  color: #000;
}


@media (max-width: 768px) {
  .carousel-caption h5 {
    font-size: 30px;
  }
}
/* @media (max-width: 768px) {
  #simu-mat .customize {
    align-items: center;
    display: flex;
  }
} */








/* Projects section */
#projects{
  color: #000;
  line-height: 2;
}



.projects {
  padding-top: 50px;
  padding-bottom: 50px;
}



.projects-box {
  padding: 20px;
  background-color: #f2f2f2f8;
  transition: .4s;
  transform: translateY(0);
  cursor: pointer;
  /* border: 1px solid rgb(36, 34, 34, 0.1);
  box-sizing: border-box;
  box-shadow: #eb7d00; */
}

.projects-box:hover {
  box-shadow: 0 0 30px #d4d4d4;
  transform: translateY(-.5rem);
}

.projects-box h6:hover {
  color: #eb7d00;
}

.projects-content {
  height: 100%;
}






/* TEAM  */


#team .title:hover{
  color: #ff9d2d;
}

ul.filters{
  display: block;
  width: 100%;
  /* margin: 0; */
  padding: 30px 0;
  font-size: 12px;
  /* border: 1px solid rgb(36, 34, 34, 0.1);
  box-sizing: border-box; */

}

ul.filters > li{
  list-style: none;
  display: inline-block;
  border: 1px solid rgba(16, 15, 15, 0.4);
  box-sizing: border-box;
  margin: 3px;
  position: relative;
}



ul.filters > li > a{
  display: block;
  color: #434e5e;
  text-decoration: none;
  border-radius: 2px solid;
  padding: 5px 20px;
  /* font-size: 13px; */
}

ul.filters > li > a:hover{
  background-color: #505050;
}

ul.filters > li.active > a{
  color: #fff;
  background-color: #1d1d1d;
}


/* media team mobile response to filter ul */

@media (max-width: 800px) {
  #team ul.filters li {
    display: block;
  }
}


.card{
  position: relative;
  margin-bottom: 50px;
  color: #fff;
  border-radius: 3;
  /* border: 1px solid rgb(26, 23, 23); */
  background-color: #1d1d1d;
  /* box-shadow: 1px 1px 1.5px rgba(0,0,0,0.075); */
}

/* customize */


.card-head{
  position: relative;
  overflow: hidden;
}

.card-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  opacity: 0;
  /* background-color: rgba(67,78,94,0.8); */
  display: flex;
  align-items: center;
  justify-content: center;
  color :#fff;
  -webkit-transition: ease-in-out 0.2s;
  -moz-transition: ease-in-out 0.2s;
  -ms-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

.card-hover{
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(40,190,168,0.9);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  flex-direction: column;
  box-sizing: border-box;
  padding: 30px;
  -webkit-transition: ease-in-out 0.2s;
  -moz-transition: ease-in-out 0.2s;
  -ms-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

.card-body{
  padding-top: 10px;
  padding-bottom: 10px;
}


h4.title{
  color: #ffffff;
  font-size: 12px;
  margin-bottom: 0;
}

h5.title {
  color: #ffffff;
  font-size: 10px;
}


/* modal card */

.modal-header h1{
  font-size: 14px;
}

.modal-body {
  line-height: 1.5;
  /* margin: .5rem; */
}

.modal-footer .btn:hover{
  color: #eb7d00 ;
}

.modal-body span {
  font-size: 24px;
}


/* modal overlay */
.card-head:hover .image {
  opacity: .2;

}

.card .btn {
  padding: 0;
  margin: 0;
}

.card-head:hover .card-overlay {
  opacity: 1;
}

.card-overlay {
  transition: .3s ease;
}

.icons {
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


.modal-body p {
  color: #000;
  font-size: 16px;
}



/* modal section */



.modal-header {
  /* color: #eb7d00; */
  background-color: #1d1d1d;
}

.modal-header button {
  color: #eb7d00;
}

.modal-header h1 {
  color: #fff;
}

/* .modal-body span:hover {
  color: #eb7d00;
} */

.modal-body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* .fa-color {
  color: #306add;

} */

/* .fa-color:hover {
  color: #eb7d00;

} */

/* .modal-dialog {
  position: relative;
  width: 500px;
  margin: auto;
} */

.modal-dialog img {
  max-width: 100%;
  align-items: center;
  margin: auto;
}

@media (max-width: 480px) {
  .modal-dialog {
    margin: 30px;
  }
}

/* funding partners section */




.section-intro p {
  font-size: 20px;
  color: #0e0d0d;
}




/* contact US section */

#contact-us {
  padding-top: 100px;

}

.contact-info a{
  text-decoration: none !important;
  color: #d4d4d4;

}

.contact-info h3{
  font-size: 20px;
  color: #d4d4d4;
}



/* firefox */
@-moz-document url-prefix() {
	.object-visible,
	.touch .no-view {
		-webkit-transition: opacity 0.6s ease-in-out;
		-moz-transition: opacity 0.6s ease-in-out;
		-o-transition: opacity 0.6s ease-in-out;
		-ms-transition: opacity 0.6s ease-in-out;
		transition: opacity 0.6s ease-in-out;
	}
}